<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team5geotopics"
    android:versionCode="1"
    android:versionName="1.0" >


    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />


    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        
        <meta-data
    android:name="com.google.android.gms.version"
    android:value="@integer/google_play_services_version" />
        
        <service
            android:name="ca.ualberta.cs.team5geotopics.PutIndexService"
            android:enabled="true" >
        </service>
        <service
            android:name="ca.ualberta.cs.team5geotopics.CreateIndexService"
            android:enabled="true" >
        </service>
        <service
            android:name="ca.ualberta.cs.team5geotopics.GetTopLevel"
            android:enabled="true" >
        </service>

        <activity
            android:name="ca.ualberta.cs.team5geotopics.StartActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.ualberta.cs.team5geotopics.TopLevelActivity"
            android:label="@string/title_top_level_activity" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.team5geotopics.ReplyLevelActivity"
            android:label="@string/title_activity_browse_relpy" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.team5geotopics.CreateCommentActivity"
            android:label="@string/title_activity_create_comment" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.team5geotopics.EditCommentActivity"
            android:label="@string/title_activity_edit_comment" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.team5geotopics.InspectCommentActivity"
            android:label="@string/title_activity_inspect_comment" >
        </activity>
        <activity
            android:name="ca.ualberta.cs.team5geotopics.MyCommentsActivity"
            android:label="@string/title_activity_inspect_comment" >
        </activity>

        <activity
            android:name="ca.ualberta.cs.team5geotopics.MapsActivity"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:label="@string/title_activity_maps" >
        </activity>

        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBLYHhVzb8z6MFLwCk8J4fHlignt28w7XA" />
        
    </application>

</manifest>
